NodeRed/Dashboard.json
[
    {
        "id": "fea15aab4a789ebf",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e194ca4db269307b",
        "type": "mongodb in",
        "z": "fea15aab4a789ebf",
        "mongodb": "ae56f20f78338ce9",
        "name": "Access Data",
        "collection": "Raw-Data",
        "operation": "find",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "629e767fd856e133",
                "8a6cbdc5fd037938",
                "7e4080292822b7da"
            ]
        ]
    },
    {
        "id": "110db2c7f61bf086",
        "type": "debug",
        "z": "fea15aab4a789ebf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "629e767fd856e133",
        "type": "function",
        "z": "fea15aab4a789ebf",
        "name": "parse data nh3",
        "func": "if (msg.payload.length > 0) {\n    var lastDoc = msg.payload[msg.payload.length - 1];\n    msg.payload = parseFloat(lastDoc.NH3.avg.toFixed(2));\n} else {\n    msg.payload = null; // or any default value you prefer\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 280,
        "wires": [
            [
                "e0a7b7df10883b49",
                "110db2c7f61bf086",
                "d22a5032bd8ce58e"
            ]
        ]
    },
    {
        "id": "e0a7b7df10883b49",
        "type": "ui_chart",
        "z": "fea15aab4a789ebf",
        "name": "NH3 Chart",
        "group": "92b7cf35f1e219e5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "NH3 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "nh3",
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "402b0e799c74f8da",
        "type": "ui_chart",
        "z": "fea15aab4a789ebf",
        "name": "CO Chart",
        "group": "a7faf3b35ab36b3b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "CO Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "co",
        "x": 740,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f6f72340e4717e51",
        "type": "ui_chart",
        "z": "fea15aab4a789ebf",
        "name": "O2 Chart",
        "group": "0eb95b8c5961010a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "O2 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "o2",
        "x": 740,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "dd5052b0a220998a",
        "type": "inject",
        "z": "fea15aab4a789ebf",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "e194ca4db269307b"
            ]
        ]
    },
    {
        "id": "8a6cbdc5fd037938",
        "type": "function",
        "z": "fea15aab4a789ebf",
        "name": "parse data co",
        "func": "if (msg.payload.length > 0) {\n    var lastDoc = msg.payload[msg.payload.length - 1];\n    msg.payload = parseFloat(lastDoc.CO.avg.toFixed(2));\n} else {\n    msg.payload = null; // or any default value you prefer\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "402b0e799c74f8da",
                "6abfcedda54d4fba"
            ]
        ]
    },
    {
        "id": "7e4080292822b7da",
        "type": "function",
        "z": "fea15aab4a789ebf",
        "name": "parse data O2",
        "func": "if (msg.payload.length > 0) {\n    var lastDoc = msg.payload[msg.payload.length - 1];\n    msg.payload = parseFloat(lastDoc.O2.avg.toFixed(2));\n} else {\n    msg.payload = null; // or any default value you prefer\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 520,
        "wires": [
            [
                "f6f72340e4717e51",
                "f277371b21957b83"
            ]
        ]
    },
    {
        "id": "f277371b21957b83",
        "type": "ui_gauge",
        "z": "fea15aab4a789ebf",
        "name": "O2 Value",
        "group": "0eb95b8c5961010a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "O2 Value",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "15",
        "seg2": "19.5",
        "diff": false,
        "className": "o2",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "6abfcedda54d4fba",
        "type": "ui_gauge",
        "z": "fea15aab4a789ebf",
        "name": "",
        "group": "a7faf3b35ab36b3b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO Value",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "",
        "diff": false,
        "className": "co",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "d22a5032bd8ce58e",
        "type": "ui_gauge",
        "z": "fea15aab4a789ebf",
        "name": "",
        "group": "92b7cf35f1e219e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "NH3 Value",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "",
        "diff": false,
        "className": "nh3",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "5ff3ad96854f6383",
        "type": "ui_text",
        "z": "fea15aab4a789ebf",
        "group": "e267505017fd8305",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "As part of our IoT project, we have developed a PyCar equipped with sensors capable of measuring the parts per million (ppm) of Ammonia, Oxygen, and Carbon Monoxide. This initiative aims to monitor and analyze air quality in various environments, providing crucial data to ensure safety and promote healthier living conditions. By continuously tracking these gases, our PyCar can detect potentially hazardous levels, helping to prevent exposure to toxic substances and contributing to environmental research and public health efforts.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "25eaa1b55ae74462",
        "type": "ui_text",
        "z": "fea15aab4a789ebf",
        "group": "e267505017fd8305",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "@Livio Bürgisser, Noémie Käser, Daniela Komenda",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "75b6d982bcb48b67",
        "type": "ui_template",
        "z": "fea15aab4a789ebf",
        "group": "e267505017fd8305",
        "name": "",
        "order": 10,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* General background and text colors */\n    body.nr-dashboard-theme md-content.md-default-theme,\n    body.nr-dashboard-theme {\n        background-color: #f8f9fa !important;\n        color: #212529 !important;\n    }\n\n    /* Navbar customization */\n    .nr-dashboard-theme .nr-dashboard-header,\n    .nr-dashboard-theme .nr-dashboard-footer {\n        background-color: #007bff !important; /* Blue color */\n        color: #ffffff !important;\n    }\n\n    /* Remove all margins and padding between grid items */\n    .nr-dashboard-theme .nr-dashboard-widget-grid,\n    .nr-dashboard-theme .nr-dashboard-widget {\n        margin: 0 !important;\n        padding: 0 !important;\n    }\n\n    /* Input fields customization */\n    .nr-dashboard-theme md-input-container.md-default-theme .md-input {\n        color: #212529 !important;\n    }\n\n    /* Button customization */\n    .nr-dashboard-theme md-button.md-default-theme {\n        background-color: #007bff !important;\n        color: #ffffff !important;\n        border-radius: 5px;\n        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);\n    }\n\n    /* Chart background and text customization */\n    .nr-dashboard-theme .nr-dashboard-chart canvas {\n        background-color: #ffffff !important;\n    }\n\n    .nr-dashboard-theme .nr-dashboard-chart .x.axis text,\n    .nr-dashboard-theme .nr-dashboard-chart .y.axis text {\n        fill: #212529 !important;\n    }\n\n    /* Grid and axis customization */\n    .nr-dashboard-theme .nr-dashboard-chart .grid .tick line {\n        stroke: #e9ecef !important;\n    }\n\n    .nr-dashboard-theme .nr-dashboard-chart .axis path,\n    .nr-dashboard-theme .nr-dashboard-chart .axis line {\n        stroke: #212529 !important;\n    }\n\n    /* Chart outer area background */\n    .nr-dashboard-theme .nr-dashboard-chart .chart-outer {\n        background-color: #f8f9fa !important;\n    }\n\n    /* Chart text color */\n    .nr-dashboard-theme .nr-dashboard-chart text {\n        fill: #212529 !important;\n    }\n\n    /* Dashboard group titles */\n    .nr-dashboard-theme .nr-dashboard-group-title {\n        background-color: #007bff !important;\n        color: #ffffff !important;\n        border-radius: 5px;\n        padding: 5px 10px;\n    }\n\n    /* Tooltip customization */\n    .nr-dashboard-theme .nr-dashboard-tooltip {\n        background-color: #007bff !important;\n        color: #ffffff !important;\n    }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "added to site",
        "x": 120,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1694fd7a4b1ab144",
        "type": "GPIO输入",
        "z": "fea15aab4a789ebf",
        "name": "",
        "mode": "floating",
        "rules": [],
        "outputs": 1,
        "x": 160,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "52da1c7717b7a683",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "5a25bc4365a9b3b4",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "a97311ca48e08de5",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "e5dfc724a76617a8",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "0accdd2a9db29f57",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "a5912c3f618d095e",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "7712edb5d2f9f4ad",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "ae56f20f78338ce9",
        "type": "mongodb",
        "z": "fea15aab4a789ebf",
        "hostname": "zhaw.wqz6tdw.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "IoT-Project",
        "name": "mongodb"
    },
    {
        "id": "92b7cf35f1e219e5",
        "type": "ui_group",
        "name": "Ammonia (NH3)",
        "tab": "e20c06f70fcdb8d8",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7faf3b35ab36b3b",
        "type": "ui_group",
        "name": "Carbon Monoxide (CO)",
        "tab": "e20c06f70fcdb8d8",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0eb95b8c5961010a",
        "type": "ui_group",
        "name": "Oxygen (O2)",
        "tab": "e20c06f70fcdb8d8",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e267505017fd8305",
        "type": "ui_group",
        "name": "Welcome to our IoT Project!",
        "tab": "e20c06f70fcdb8d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e20c06f70fcdb8d8",
        "type": "ui_tab",
        "name": "IoT - Sensor's Dashboard ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false,
        "info": "# Hello and welcome"
    }
]