NodeRed/flows_working.json
[
    {
        "id": "fea15aab4a789ebf",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e194ca4db269307b",
        "type": "mongodb in",
        "z": "fea15aab4a789ebf",
        "mongodb": "ae56f20f78338ce9",
        "name": "Access Data",
        "collection": "Raw-Data",
        "operation": "find",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "629e767fd856e133",
                "8a6cbdc5fd037938",
                "7e4080292822b7da"
            ]
        ]
    },
    {
        "id": "110db2c7f61bf086",
        "type": "debug",
        "z": "fea15aab4a789ebf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "629e767fd856e133",
        "type": "function",
        "z": "fea15aab4a789ebf",
        "name": "parse data nh3",
        "func": "if (msg.payload.length > 0) {\n    var lastDoc = msg.payload[msg.payload.length - 1];\n    msg.payload = lastDoc.NH3.avg;\n} else {\n    msg.payload = null; // or any default value you prefer\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 280,
        "wires": [
            [
                "e0a7b7df10883b49",
                "110db2c7f61bf086",
                "d22a5032bd8ce58e"
            ]
        ]
    },
    {
        "id": "e0a7b7df10883b49",
        "type": "ui_chart",
        "z": "fea15aab4a789ebf",
        "name": "NH3 Chart",
        "group": "92b7cf35f1e219e5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "NH3 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "nh3",
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "402b0e799c74f8da",
        "type": "ui_chart",
        "z": "fea15aab4a789ebf",
        "name": "CO Chart",
        "group": "a7faf3b35ab36b3b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "CO Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "co",
        "x": 740,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f6f72340e4717e51",
        "type": "ui_chart",
        "z": "fea15aab4a789ebf",
        "name": "O2 Chart",
        "group": "0eb95b8c5961010a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "O2 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "o2",
        "x": 740,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "dd5052b0a220998a",
        "type": "inject",
        "z": "fea15aab4a789ebf",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "e194ca4db269307b"
            ]
        ]
    },
    {
        "id": "8a6cbdc5fd037938",
        "type": "function",
        "z": "fea15aab4a789ebf",
        "name": "parse data co",
        "func": "if (msg.payload.length > 0) {\n    var lastDoc = msg.payload[msg.payload.length - 1];\n    msg.payload = lastDoc.CO.avg;\n} else {\n    msg.payload = null; // or any default value you prefer\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "402b0e799c74f8da",
                "6abfcedda54d4fba"
            ]
        ]
    },
    {
        "id": "7e4080292822b7da",
        "type": "function",
        "z": "fea15aab4a789ebf",
        "name": "parse data O2",
        "func": "if (msg.payload.length > 0) {\n    var lastDoc = msg.payload[msg.payload.length - 1];\n    msg.payload = lastDoc.O2.avg;\n} else {\n    msg.payload = null; // or any default value you prefer\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 520,
        "wires": [
            [
                "f6f72340e4717e51",
                "f277371b21957b83"
            ]
        ]
    },
    {
        "id": "f277371b21957b83",
        "type": "ui_gauge",
        "z": "fea15aab4a789ebf",
        "name": "O2 Value",
        "group": "0eb95b8c5961010a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "O2 Value",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "",
        "diff": false,
        "className": "o2",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "6abfcedda54d4fba",
        "type": "ui_gauge",
        "z": "fea15aab4a789ebf",
        "name": "",
        "group": "a7faf3b35ab36b3b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO Value",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "",
        "diff": false,
        "className": "co",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "d22a5032bd8ce58e",
        "type": "ui_gauge",
        "z": "fea15aab4a789ebf",
        "name": "",
        "group": "92b7cf35f1e219e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "NH3 Value",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "",
        "diff": false,
        "className": "nh3",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "10877464355a7cde",
        "type": "ui_text",
        "z": "fea15aab4a789ebf",
        "group": "e267505017fd8305",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Welcome to our Sensor's Dashboard.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "5ff3ad96854f6383",
        "type": "ui_text",
        "z": "fea15aab4a789ebf",
        "group": "e267505017fd8305",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Within our IoT Project we have created a PyCar equipped with Sensors that measure NH3 (Ammonia), O2 (Oxygen), and CO (Carbon Monoxide).",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "25eaa1b55ae74462",
        "type": "ui_text",
        "z": "fea15aab4a789ebf",
        "group": "e267505017fd8305",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "@Livio Bürgisser, Noémie Käser, Daniela Komenda",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "dd14cb15a8657582",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "94c17eb2e59e1f87",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "a98fe9f75ea8209d",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "7974b03bcec4716a",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "37923fb71872f431",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "0655878cb780f9aa",
        "type": "ui_spacer",
        "z": "fea15aab4a789ebf",
        "name": "spacer",
        "group": "e267505017fd8305",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "ae56f20f78338ce9",
        "type": "mongodb",
        "z": "fea15aab4a789ebf",
        "hostname": "zhaw.wqz6tdw.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "IoT-Project",
        "name": "mongodb"
    },
    {
        "id": "92b7cf35f1e219e5",
        "type": "ui_group",
        "name": "NH3",
        "tab": "e20c06f70fcdb8d8",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7faf3b35ab36b3b",
        "type": "ui_group",
        "name": "CO",
        "tab": "e20c06f70fcdb8d8",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0eb95b8c5961010a",
        "type": "ui_group",
        "name": "O2",
        "tab": "e20c06f70fcdb8d8",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e267505017fd8305",
        "type": "ui_group",
        "name": "Welcome!",
        "tab": "e20c06f70fcdb8d8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e20c06f70fcdb8d8",
        "type": "ui_tab",
        "name": "Sensor's Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false,
        "info": "# Hello and welcome"
    }
]